body {
    margin: 0;
}

main {
    margin-bottom: 40px;
    padding: 10px;
}

header {
    margin-bottom: 30px;
    padding: 20px;
    background: lightyellow;
}

footer {
    margin-top: 20px;
    padding: 10px;
    background: lightyellow;
    text-align: right;
    text-align: right;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

.error {
    color: red;
}

.railway-ticket-form {
    max-width: 600px;
    margin: 0 auto;
    padding: 15px;
    border: 2px solid #ccc;
    border-radius: 20px;
    background-color: #f9f9f9;
}

.form-group {
    margin-bottom: 10px;
}

.submit-button {
    text-align: center;
    margin-top: 10px;
}
p {
    margin-bottom: 5px;
}

strong {
    font-weight: bold;
}

.success {
    text-align: center;
    margin-top: 10px;
    border: 2px solid #4CAF50;
    padding: 5px;
    border-radius: 20px;
    background-color: #f8f8f8;
}

.error-message {
    color: #FF0000;
    font-weight: bold;
    margin-top: 10px;
}

.login-container {
    width: 400px;
    margin: 100px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

.login-label-input {
    display: block;
    margin: 10px 0;
}

.login-button {
    background-color: #0072c4;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.login-button:hover {
    background-color: #00528c;
}

a.fridge-text {
    text-decoration: none;
    color: inherit; 
    cursor: pointer; 
}

.fridge-button{
    background-color: #0091ea;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;

}

.fridge-button:hover {
    background-color: #0072c4;
}

.fridge {
    color: black;
    margin: 20px auto;
    max-width: 300px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.fridge-label-input {
    display: block;
    margin: 10px 10px 10px 60px;
}

.fridge-text {
    font-size: 24px;
    text-align: center;
    color: #fff;
}

.fridge-temperature {
    font-size: 18px;
    margin: 20px 0;
    text-align: center;
    color: #fff;
}

.success-message {
    color: green;
    font-weight: bold;
    margin-top: 10px;
}

.grainform {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.grain-select-input {
    width: 90%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}