{% extends "base.html" %}

{% block lab %}Лабораторная работа 6{% endblock %}

{% block main %}
    <div style="width: 600px; margin: 50px auto;">
        <h1 style="color: #333; text-align: center;">List of Articles</h1>
        <ul style="list-style: none; padding: 0; text-align: center;">
            {% for article in articles %}
                <li style="margin-bottom: 10px;">
                    <a href="{{ url_for('lab6.view_article', article_id=article.id) }}" style="color: #007bff; text-decoration: none;">
                        {{ article.title }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}