{% extends "base.html" %}

{% block lab %} Porshe {% endblock %}

{% block main %} 
        <h1>Модельный ряд Porshe</h1>
        <div><b>Доступные модели:</b></div>

        <div style="margin-left: 550px; font-size: 18px;">
        <h1>Porshe 911</h1>
        <img src= "{{ url_for ('static', filename='911.jpg')}}">
        <p style="height: 600px; width: 1200px;">Porsche 911 (произносится Nine Eleven или по-немецки: Neunelfer) - двухдверный высокопроизводительный спортивный автомобиль 2 + 2 с задним расположением двигателя, представленный в сентябре 1964 года компанией Porsche AG из Штутгарта, Германия. 
            Он оснащен установленным сзади шестицилиндровым двигателем и первоначально торсионной подвеской.</p>
        
            <img style="height: 600px; width: 1200px; margin-top: -400px;" src= "{{ url_for ('static', filename='macan.jpg')}}">
            <p style="height: 600px; width: 1200px;">Порше Макан - это компактный пятиместный кроссовер премиум класса. После рестайлинга, он насчитывает 4686 мм в длину, 1923 мм в ширину, 1624 мм в высоту и 2807 мм между колесными парами. В основе автомобиля лежит доработанный кузов от Audi Q5. 
                Без изменений были взяты панели пола и моторный щит. Подвеска полностью независимая.</p>

                <img style="height: 600px; width: 1200px; margin-top: -400px;" src= "{{ url_for ('static', filename='cayene.jpeg')}}">
                <p style="height: 600px; width: 1200px;">Пятиместный среднеразмерный спортивный кроссовер производства немецкой автомобилестроительной компании Porsche. Автомобиль создан при активном участии концерна Volkswagen. 
                    Впервые был представлен публике в декабре 2002 года.</p>
                    
                    <img style="height: 600px; width: 1200px; margin-top: -400px;" src= "{{ url_for ('static', filename='panamera.jpeg')}}">
                    <p style="height: 600px; width: 1200px;">Porsche Panamera — пятидверный спортивный фастбэк класса Гран Туризмо с переднемоторной компоновкой и полным или задним приводом.
                        Выпуск и продажи автомобиля начались в 2009 году. Автомобиль получил имя Panamera благодаря удачным выступлениям Porsche в гонке Каррера Панамерикана, проходившей в 50-х годах XX века[1]. По состоянию на сентябрь 2010 года, было продано свыше 25 000 автомобилей. 
                        Летом 2013 года Panamera пережила модернизацию, освежились ходовые и задние огни, появились улучшения в салоне.</p>

                        <img style="height: 600px; width: 1200px; margin-top: -400px;" src= "{{ url_for ('static', filename='taycan.jpg')}}">
                        <p style="height: 600px; width: 1200px;">Полностью электрическое 4-дверное купе, разработанное компанией Porsche. Концепт-кар впервые был показан на Международном автомобильном салоне во Франкфурте в 2015 году. 
                            Это первый полноценный электромобиль Porsche, за исключением исторических моделей наподобие Porsche P1 и Lohner-Porsche, разработанные Фердинандом Порше.</p>
                            </div>
        <ol>
            <li>
                <a href="/lab2/"> Возврат ко 2 лабораторной</a>
            </li>
        </ol>
{% endblock %}